{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
</head>
<body style="background-color:#ecf0f1";>

<div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-sm-12">
          <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#34495e">
              <a class="navbar-brand" href="/"> StackOverClone</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="/"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
                  </li>
                    {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'post_new' %}"><i class="fas fa-fire"></i> New Post</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'profil' %}"><i class="fas fa-user"></i> Welcome,<b>{{ user.username }}</b></a>
                  </li>
                </ul>
                <span class="navbar-text">
                  <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </span>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'post_new' %}"><i class="fas fa-fire"></i> Giriş</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}"><i class="fas fa-envelope"></i> Kayıt Ol</a>
                  </li>
                  {% endif %}
              </div>
            </nav>
      </div>
    </div>
</div>

    {% block content %}
    {% endblock %}
</body>
</html>