


{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2>PROFIL</h2><button id="clickme" class="btn btn-warning">Click For API</button>

    <div class="row" style="margin-top: 10px;">
        <div class="col-12 col-md-12">
            <div class="row">
                <div class="col-md-6">
                <h5>Your Posts</h5>
                    {% for post in posts %}
                    <div class="card border-danger mb-3" style="max-width: 31rem;">
                      <div class="card-header"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.baslik }}</a></div>
                      <div class="card-body text-danger">
                        <p class="card-title">Published : {{ post.yayinlanma_tarihi }} | Comment : {{ post.comments.count }}</p>
                      </div>
                    </div>
                    {% endfor %}
                </div>
            <div class="col-md-6">
                <h5>Commented Posts</h5>
                    {% for post in commented_posts %}
                    <div class="card border-success mb-3" style="max-width: 31rem;">
                      <div class="card-header"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.baslik }}</a></div>
                      <div class="card-body text-success">
                        <p class="card-title">Published : {{ post.yayinlanma_tarihi }} | Comment : {{ post.comments.count }}</p>
                      </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    <div id="api_content">

    </div>

    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#clickme").click(function () {
                $.ajaxSetup({data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                  }});
                $.ajax({
                    url: "http://localhost:8000/api/profile/",
                    method: "POST",
                    data:
                    {
                        username: '{{ request.user }}',
                        _token: $('meta[name="csrf-token"]').attr('content')
                    },
                    success: function (r) {
                        new_resp = JSON.parse(r)
                        console.log(new_resp)
                        $.each(new_resp, function (i) {
                            $.each(new_resp[i], function (key, value) {
                                console.log(key + " " + value)
                            })
                        })
                    },
                    error: function (r) {
                        console.log(r.data +"hata");
                    }
                });

            })
    });
    </script>
{% endblock %}