{% extends 'base.html' %}
{% csrf_token %}

{% block content %}
    <div class="container">
        <h2>PROFIL</h2>
            YOUR POSTS
            {% for post in posts %}
                <div class="row">
                    <h3 style="font-family: Dosis"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.baslik }}</a></h3>
                    <p style="border-bottom:1px solid lightgray;">Published : <b>{{ post.yayinlanma_tarihi }}</b> Comment : <b>{{ post.comments.count }}</b></p>
                </div>
            {% endfor %}
            COMMENTED POSTS
            {% for post in commented_posts %}
                <div class="row">
                    <h3 style="font-family: Dosis"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.baslik }}</a></h3>
                    <p style="border-bottom:1px solid lightgray;">Published : <b>{{ post.yayinlanma_tarihi }}</b> Comment : <b>{{ post.comments.count }}</b></p>
                </div>
            {% endfor %}
    <button id="clickme">Click For API</button>

    <div id="api_content">

    </div>

    </div>
    <script type="text/javascript">
        $(document).ready(function(){
        $.ajaxSetup({data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
          }});
        $.ajax({
            url: "/api/profile/",
            method: "POST",
            data:
            {
                a: 'something',
                b: 'something else',
                _token: $('meta[name="csrf-token"]').attr('content')
            }
        });

    });
    </script>
{% endblock %}